textblob==0.17.1
textblob_de
textblob_fr
transformers
spacy
textstat
evaluate
torch
Pandas
numpy
googletrans
sentence_transformers
language_tool_python
keras-tuner
xgboost
keras==2.12.0
tensorflow==2.12.0